* {
	margin: 0;
}

.game {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message button {
	width: clamp(80px, 10vw, 120px);
	height: clamp(40px, 10vw, 50px);

	border-radius: 5px;
	border: 1px solid;

	font-weight: bolder;

	color: white;
	background-color: rgb(64, 94, 247);
}

.message button:hover,
button:active {
	background-color: rgb(46, 79, 244);
}
